.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom:20px;
}
.nav input{
    width: 50vw;
    height: 5vh;
    
}
.nav button{
    
    height: 5vh;
}